.headercontainer{
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px 40px 10px 20px;
  border-bottom: 1px solid black;
  z-index: 1;
  }

.logo{
  color: MediumAquamarine;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.logo span{
  padding: 1px 10px;
}

nav li{
  display: inline-block;
  width: 60px;
  text-align: center;
}

nav li span{
  padding: 1px 8px;
}

nav a {
  color: black;
}
