div{
  border: 1px solid black;
}

header{
  display: inline-flex;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  }

.logo {
  display: inline-flex;
  width: 1050px;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0px;
}

.logo img{
  padding: 0px 10px 0px 30px;
}

.logo .text {
  color: MediumAquamarine;
}

nav {
  display: inline-flex;
  width: 270px;
  justify-content: space-around;
  align-items: center;
}

nav a{
  color: black;
}
